button {
    border: none;
    background-color: #898989;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}
  
button:hover {
    background-color: #767676;
    transition-duration: 0.3s;
}

.topButtons {
    background-color: #bbb;
}

.topButtons:hover {
    background-color: rgb(162, 162, 162);
}

.zero {
    grid-column: 1 / 3;
}

.rightButtons {
    background-color: #FCC36B;
}
.rightButtons:hover {
    background-color: #FBB13E;
}
  